
# REACT
front-office/node_modules
front-office/build
front-office/.DS_Store
front-office/.env.local
front-office/.env.development.local
front-office/.env.test.local
front-office/.env.production.local
front-office/npm-debug.log*
front-office/yarn-debug.log*
front-office/yarn-error.log*

# VUE
game/logs
game/*.log
game/npm-debug.log*
game/yarn-debug.log*
game/yarn-error.log*
game/pnpm-debug.log*
game/lerna-debug.log*
game/node_modules
game/.DS_Store
game/src/components/.DS_Store
game/dist
game/dist-ssr
game/coverage
game/*.local
game/.vscode/*
game/!.vscode/extensions.json
game/.idea
game/*.suo
game/*.ntvs*
game/*.njsproj
game/*.sln
game/*.sw?

# SERVER
server/node_modules
server/mongo-volume/*
# SHARED
shared/node_modules
