 .img-left, .img-right {
	 background-image: url("http://nick.mtvnimages.com/nick/flipbooks/breadwinners/spot-the-difference/breadwinners-spot-the-difference-image02Q.jpg?quality=0.75");
	 transition-duration: 0.5s;
	 background-size: cover;
	 width: 340px;
	 height: 522px;
	 display: block;
	 float: left;
}
 .container_game {
	position: relative;

}
 .container_game:hover .img-right {
	 left: 0;
	 mix-blend-mode: difference;
}
 .img-right {
	 background-position: 100% 0;
	 position: absolute;
	 left: 345px;
}
 