h1 {
  font-family: 'Wendy One', sans-serif;
  font-size: 30px;
  text-align: center;
}

p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  text-align: center;
}


#rightSide {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 500px;
  border-left: 1px solid black;
  margin-top: 10%;
}
img {
 position: absolute;
}