.main{
  display: flex;
  height: 100%;
  width: 100%;
}
.game{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#memory{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  cursor: pointer;
}
.value{
  display: flex;
  flex: 1 1 auto;
  max-height: 300px;
  max-width: 300px;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
