.item {
    display: block;
    transition: transform .3s;
    background-color: whitesmoke;
    border-radius: 50px;
    border: 15px solid white;
    /*margin-right: 15pt;*/
}

.item:hover {
    transform: scale(1.05);
}

.item-image {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

.item-title {
    float: left;
    padding-bottom: 10%;
    text-decoration: underline;
    text-decoration-color: red;
}

.item-price {
    float: right;
}

.item-remove {
    width: 10%;
}